.settings {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(31, 32, 37, 0.8);
  width: 100%;
  height: 100%;
}

.settings-container {
  width: 80%;
  height: 70%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.close-btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn p {
  font-size: 25px;
  color: #636779;
}

.close-btn button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.close-btn button svg {
  width: 35px;
  height: 35px;
}

.settings-form {
  width: 100%;
  height: calc(100% - 90px);
  border-bottom: solid rgb(228, 228, 228) 1px;
}

.stn {
  width: 100%;
  height: 50%;
}

.stn-title {
  width: 100%;
  height: 35px;
  border-bottom: solid rgb(228, 228, 228) 1px;
  border-top: solid rgb(228, 228, 228) 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stn-title p {
  font-size: 22px;
  color: #636779;
}

.stn-form {
  width: 100%;
  height: calc(100% - 35px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.stn-form label {
  width: 100%;
  height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #636779;
}

.stn-form label input {
  height: 28px;
}

.apply-btn {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
  padding-top: 5px;
}

.apply-btn button {
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 40px;
  background-color: #3e98c7;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}


@media screen and (min-width: 550px) {
  .settings {
    width: 400px;
    height: 90%;
    max-height: 680px;
  }
}